*
{
    margin: 0px;
    padding: 0px;
}
body
{
    font-family: 'Quicksand', sans-serif;
}
p
{
    margin: 1em;
}
blockquote
{
    margin: 1.5em;
    padding: 1em;
    background: #1d707510;
    border-color: #1a6468;
    border-radius: 0.5em;
    border-left: 10px solid #254943;
    color: #1a6468;
    font-family: times new roman;
    font-style: italic;
    text-align: center;
    max-width: 50em;
}
ul
{
    padding: 1em;
}
li
{
    list-style: none;
    cursor: pointer;
}
a
{
    text-decoration: none;
    color: black;
}
button
{
    border: none;
    padding: 0.5em;
    padding-right: 1em;
    font-size: 1.3em;
    background: #474747;
    text-align: center;
    font-weight: bold;
    margin: 1em;
    color: white;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em ;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover
{
    background-color: black;
    transform: scale(1.1);
}
footer
{
    text-align: center;
    font-family: arial;
    padding: 1em;
    background: #0b0b0b;
    color: whitesmoke;
    font-size: 0.5em;
    bottom: 0px;
}
#heading_container
{
    background: url('Images/background.jpg');
    background-position: center;
    background-size: cover;    
}
#welcome_heading
{
    font-size: 2em;
    background-color: #0000004f;
    padding: 1em;
    color: white;
}
#paragraph
{
    font-size: 1.5em;
}
#reference
{
    font-family: times new roman;
    font-style: italic;
    color: gray;
}
#table_of_content
{
    text-align: center;
    line-height: 1.5em;
    margin: 2em;
    border-radius: 2em;
    border-top-right-radius: 0px;
    box-shadow: 0px 6px 10px 1px gray;
    max-width: 50em;
}
#table_heading
{
    font-size: 1.5em;
    color: white;
    background-color: #ffc755;
    padding: 1em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 4em;
    
}
#button
{
    text-align: center;
}